* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neonColor: rgb(0, 238, 255);
    --darkCOlor: #23242a;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    font-size: 56px;
    overflow: hidden;
}

/* .box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    animation: rotate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    animation: rotate 6s -3s linear infinite ;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.inner {
    position: absolute;
    inset: 4px;
    background-color: #222;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.inner>h1 {
    display: inline-block;
    background: linear-gradient(45deg, #ff2770, #ef7e1b, #36c2ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.box2 {
    width: 300px;
    height: 300px;
    position: relative;
}
.box2>div {
    transition: all 1.5s ease;
    border-radius: 50px;
    position: absolute;
    inset: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}
.box2>div:last-child {
    transform: rotateY(180deg);
}

.box2:hover>div:first-child {
    transform: rotateY(180deg);
}
.box2:hover>div:last-child {
    transform: rotateY(0deg);
}
 */

/* 3D */

body {
    perspective: 1500px;
}

*:not(:empty) {
    transform-style: preserve-3d;
  }

.scene {
    position: relative;
    transform: rotateX(-15deg) rotateY(-15deg);
    animation: round 36s -1s infinite linear;
}

@keyframes round {
    from {
        transform: rotateX(-15deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-15deg) rotateY(360deg);
    }
}

.floor {
    position: absolute;
    width: 1300px;
    height: 1300px;
    background-color: rgb(35, 35, 34);
    background-image:
        radial-gradient(#0000, 50%, #000 66%),
        repeating-conic-gradient(from 24deg, #2e393d 0 45deg, #2b1f1f 45deg 135deg, #363636 0 180deg);
    background-size: 100%, 60px 60px;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(-1px);
}

.cube {
    width: 5.4em;
    height: 5.4em;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transform-origin: center;
}

.outter {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    border: 3px solid var(--neonColor);
    /* border-radius: 10px; */
    box-shadow: 0 0 25px 2px var(--neonColor) inset;
}

.outter.front {
    transform: translateZ(2.7em);
}
.outter.back {
    transform: rotateY(180deg) translateZ(2.7em);
}
.outter.right {
    transform: rotateY(90deg) translateZ(2.7em);
}
.outter.left {
    transform: rotateY(-90deg) translateZ(2.7em);
}
.outter.top {
    transform: rotateX(90deg) translateZ(2.7em);
}
.outter.bottom {
    transform: rotateX(-90deg) translateZ(2.7em);
    box-shadow: 0 0 25px 2px var(--neonColor) inset, 0 0 25px 16px #162a2b;
}

.cube_inner {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 1.2em;
    left: 1.2em;
    will-change: top;
    animation: levitate 4s infinite ease-out;
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0em);
    }
    50% {
        transform: translateY(.5em);
    }
}

@keyframes spin {
    from { transform: translate(-50%, calc(-50% - 120px)) rotateY(180deg)  translateZ(89px) rotateZ(-11deg); }
    to   { transform: translate(-50%, calc(-50% + 120px)) rotateY(-540deg) translateZ(89px) rotateZ(-11deg); }
  }

.shadow {
    position: absolute;
    bottom: 0;
    background:#0008;
    filter: blur(5px);
    width: 3em;
    height: 3em;
    transform: rotateX(90deg) translateX(50%) translateZ(-1.5em);
    animation: cubeShadow 4s infinite ease-out;
}

@keyframes cubeShadow {
    0%, 100% { opacity: .6; }
    50% { opacity: 1; }
  }
@keyframes rotate {
    to { transform: rotateX(360deg) rotateY(360deg) }
  }

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    border: 1px solid var(--neonColor);
}

.side > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side.front {
    transform: translateZ(1.5em);
}
.side.back {
    transform: rotateY(180deg) translateZ(1.5em);
}
.side.right {
    transform: rotateY(90deg) translateZ(1.5em);
}
.side.left {
    transform: rotateY(-90deg) translateZ(1.5em);
}
.side.top {
    transform: rotateX(90deg) translateZ(1.5em);
}
.side.bottom {
    transform: rotateX(-90deg) translateZ(1.5em);
}
